<br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Commentaire</th>
        <th>Email</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments; let odd=odd;" [ngClass]="{odd: odd}">
          <td>{{ comment.id }}</td>
          <td>{{ comment.name }}</td>
          <td>{{ comment.email }}</td>
          <td><a (click)="deleteComment(comment)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
          </td>
      </tr>
    </tbody>
  </table>
